{% load static %}
{% load women_tags %}

<!DOCTYPE html >
<html>
<head>
	<title>{{title}}</title>
	<link type="text/css" href="{% static 'women/css/styl.css' %}" rel="stylesheet" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="shortcut icon" href="{% static 'women/images/main.ico' %}" type="image/x-icon"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div id="wrapper">
	<header>
			<div class="hed">
				{% block mainmenu %}
					<div class="leftmenu">
						<div class="menuLogotype">
							<a  class="logotype" href="{% url 'home' %}"></a>
						</div>
						<ul id="mainmenu" class="mainmenu">
							{% show_menu %}
						</ul>
					</div>

					<div class="rightmenu">
						{% if request.user.is_authenticated %}
							<div  class="menu_last"><a class="menu_button " href="{% url 'logout' %}">Вийти</a></div>
						{% else %}
							<div class="menu_last"><a class="menu_button" href="{% url 'register' %}">Реєстрація</a></div>
							<div class="menu_last"><a class="menu_button" href="{% url 'login' %}">Війти</a></div>
						{% endif %}
					</div>

				{% endblock mainmenu %}
			</div>
	</header>

	<main>
		<div class="indent">
			<div class="sidebar-content">
					<!-- Sidebar слева -->
					<div class="sidebar">
						<ul id="leftchapters">
							{% if cat_selected == 0 %}
								<li class="global_menu">Все меню</li>
							{% else %}
								<li class="global_menu"><a href="{% url 'home' %}">Наше меню</a></li>
							{% endif %}

							{% for c in cats %}
								{% if c.women__count > 0 %}
									{% if c.pk == cat_selected %}
										<li class="selected">{{c.name}}</li>
									{% else %}
										<li class="selected"><a href="{{ c.get_absolute_url}}">{{c.name}}</a></li>
									{% endif %}
								{% endif %}
							{% endfor %}

						</ul>
					</div>
					<!-- Конец Sidebar'а -->
					<div class="content">
						<!-- Хлебные крошки -->
						{% block breadcrumbs %}
						{% endblock %}

						<!-- Блок контента -->
						<div class="content-text">
							{% block content %}
							{% endblock %}
						</div>
						<div class="botttom_content-text">
							{% if page_obj.has_other_pages %}
							<nav class="list-pages">
								<ul>
									{% if page_obj.has_previous %}
										<li >
											<a class="page-num"  href="?page={{ page_obj.previous_page_number }}">&lt;</a>
										</li>
									{% endif %}

									{%  for p in paginator.page_range %}
										{% if page_obj.number == p %}
											<li class="page-num page-num-selected">{{ p }}</li>
										{% elif p >=  page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
											<li>
												<a  class="page-num" href="?page={{ p }}">{{ p }}</a>
											</li>
										{% endif %}
									{% endfor %}
									{% if page_obj.has_next %}
										<li  >
											<a class="page-num" href="?page={{ page_obj.next_page_number }}">&gt;</a>
										</li>
									{% endif %}
								</ul>
							</nav>
							{% endif %}
						</div>
						<!-- Конец блока контента -->
					</div>
				</tr>
			</div>
		</div>

	</main>

	<!-- Footer -->
	<footer>
		<div class="footer">
			<p>2021 Частичное или полное копирование информации с данного сайта для распространения на других ресурсах,
				в том числе и бумажных, строго запрещено.</p>
		</div>
	</footer>
	<!-- Конец footer'а и страницы -->
	</div>
</body>
</html>
